{
    "prefix" : ".",
    "desc" : "Maurice, a fantastic bot",
    "joinsound" : "hello"
}

# Delete these comments if you are going to use this. (Or it won't work)
# Edit this to change the settings while offline. If online, use the
# settings command and it will update automatically.
